
  
    
    <div id="content" class="">
  

  

    <div class="grid-container" data-featurette="dashboard-index">

    <!-- begin navigation -->
    <div class="grid-100">
      <div class="control-container with-subnav" data-layout-element="control-bar">
        <ul class="nav">
          <li><a class="current" href="#">Learn</a></li>
          <li><a href="#">Leaderboards</a></li>
        </ul>
        <ul class="subnav" data-featurette="filter-list" id="view">
          <li>
            <a class="selected" data-filter-value="">
              In Progress
            </a>
          </li>
          <li>
            <a data-filter-value="bookmarks">Bookmarks</a>
          </li>
          <li>
            <a data-filter-value="completed">Completed</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- end navigation -->

    <div id="home-pjax">
          <div class="grid-100">
      <div class="mixed-box content-suggestions topic-javascript">
        <div class="box-header">
            <div class="track-header">
              <h4 class="on-track-notice topic-javascript">
                <a href="#">
                  <svg class="track-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#track-icon"></use></svg>
                  Full-Stack JavaScript
                </a>
              </h4>
              <a class="button button-secondary" href="#">View Track</a>
            </div>
            <h3>Time to get started!</h3>
            <p>We recommend you start working on the <a class="activity-title" href="#">JavaScript Loops, Arrays and Objects</a> Course. You should complete the first <strong>3 steps:</strong></p>
        </div>
        <div class="box-content secondary">
          <ul class="achievement-steps">
              <li>
                <a href="#">
                    <img src="avatar/b203c2fbe27dc9f5b94119bac0921845.jpg" />
                  <p>1:29</p>
                  <strong>Introducing Loops, Arrays and Objects</strong>
</a>              </li>
              <li>
                <a href="#">
                    <svg class="video-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#video-22-icon"></use></svg>
                  <p>7:52</p>
                  <strong>What are Loops?</strong>
</a>              </li>
              <li>
                <a href="#">
                    <svg class="quiz-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#quiz-22-icon"></use></svg>
                  <p>5 questions</p>
                  <strong>Review Loops</strong>
</a>              </li>
          </ul>
        </div>
        <div class="box-footer box-actions">
            <a href="#" class="button primary icon-on-right">
                Resume <svg class="right-arrow-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 12 12"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#right-arrow-icon"></use></svg>
            </a>
            <span class="suggestion-time-estimate">Time Estimate: <strong>13 mins</strong></span>
        </div>
      </div>
    </div>



  <div class="grid-100">

    <div class="secondary-heading">
      <h2>In Progress</h2>
      <button class="button small button-secondary view-all" data-view-all-text="View most recent" data-view-collapsed-text="View all 6">View all 6</button>
    </div>
    <ul class="card-list collapsed">
      


<li class="card course topic-css home-card" data-activity="syllabus/72" data-featurette="library-card" data-location="home" id="Syllabus-72">

  <a class="title" href="#">
    <div class='progress'>
      <svg class="course-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#course-icon"></use></svg>

      <ul class='stages'>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
      </ul>

      <span class='estimate'>4 hours</span>
    </div>

    <strong>Course</strong>
    <h3>Sass Basics</h3>
    <p class='description'>
      Sass is a powerful language that extends CSS with features like nested rules, variables, mixins, math operations, and more, in a CSS-compatible syntax. Because of this, many of today's popular websites, applications, and frameworks are built using Sass.In this course, we'll be coding along with Hampton Catlin, our guest teacher and creator of Sass.
    </p>

      <p class='current-step hidden'>
        <svg class="video-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9c0,5,4,9,9,9s9-4,9-9C20,6,16,2,11,2z M15.2,12.1l-5.5,3.6c-1,0.6-1.8,0.2-1.8-1V7.3c0-1.2,0.8-1.6,1.8-1l5.5,3.6C16.2,10.5,16.2,11.5,15.2,12.1z" />

</svg>
        <svg class="quiz-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S16,2,11,2z M16,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C18,12.1,17.1,13,16,13z M16,10c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C17,10.4,16.6,10,16,10z M11,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C13,12.1,12.1,13,11,13z M11,10c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C12,10.4,11.6,10,11,10z M6,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C8,12.1,7.1,13,6,13z" />

</svg>
        <svg class="code-challenge-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9c0,5,4,9,9,9s9-4,9-9C20,6,16,2,11,2z M13.8,14.7c-0.4,0.4-1.1,0.4-1.5,0c-0.4-0.4-0.4-1.1,0-1.5l2.2-2.2l-2.2-2.2c-0.4-0.4-0.4-1.1,0-1.5c0.4-0.4,1.1-0.4,1.5,0l2.9,3c0.4,0.4,0.4,1.1,0,1.5L13.8,14.7z M9.7,14.7c-0.4,0.4-1.1,0.4-1.5,0l-2.9-3c-0.4-0.4-0.4-1.1,0-1.5l2.9-3c0.4-0.4,1.1-0.4,1.5,0c0.4,0.4,0.4,1.1,0,1.5L7.5,11l2.2,2.2C10.1,13.6,10.1,14.3,9.7,14.7z" />

</svg>
      </p>

      <div class='complete-status hidden'>
        <svg class="complete-icon" preserveAspectRatio="xMinYMin meet" viewBox="140 0 140 120">
  <path d="M197.3,120l-52.8-52c-6-6-6-17,0-23c7-6,16.9-6,23.9,0l26.9,27l54.8-66c6-7,16-8,23.9-2c7,6,8,16,2,23
    L197.3,120z" />

</svg>
        <span class='complete-title'></span>
      </div>
</a>
  <ul class="tags">
    <li class="topic-css topic topic"><a data-filter-list-val="topic:css" href="#"><span>CSS</span></a></li><li class="difficulty"><span>Intermediate</span></li>
    <li class="truncated-tags"><span></span><ul></ul></li>
  </ul>

  <ul class='actions hidden'>
    <li class='resume'>
      <a class="button button-primary" href="#">Start</a>
    </li>
    <li class='bookmarkable' data-featurette="bookmarkable">
      <a class="bookmark" data-method="POST" href="#" rel="nofollow">
        <svg class="star-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 16 16"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#star-icon"></use></svg>
        <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>      <a class="unbookmark" data-method="DELETE" href="#" rel="nofollow">
        <svg class="star-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 16 16"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#star-icon"></use></svg>
        <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>    </li>
  </ul>

  <div class="bookmarkable-tarp">
  <div class="confirmation-tarp error">
    <h4>Uh-oh!</h4>
    <p>Something went wrong when trying to save your request.</p>
    <a href="#" class="button secondary" data-close>Close</a>
  </div>

  <div class="confirmation-tarp added">
    <h4>Bookmarked!</h4>
    <p>You can now access this anytime from Home.</p>
    <a href="#" class="view-all">
      <span>View all Bookmarks</span> <svg class="right-arrow-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 12 12"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#right-arrow-icon"></use></svg>
    </a>
  </div>

  <div class="removed-wrapper">
    <div class="confirmation-tarp removed">
      <h4>Removed from Bookmarks</h4>
      <a href="#" class="button secondary undo" data-method="POST" rel='nofollow'>
        <span>Undo</span> <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
      </a>
    </div>
  </div>
</div>


</li>


<li class="card course topic-wordpress home-card" data-activity="syllabus/662" data-featurette="library-card" data-location="home" id="Syllabus-662">

  <a class="title" href="#">
    <div class='progress'>
      <svg class="course-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#course-icon"></use></svg>

      <ul class='stages'>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>10</li>
      </ul>

      <span class='estimate'>2 hours</span>
    </div>

    <strong>Course</strong>
    <h3>The WordPress Template Hierarchy </h3>
    <p class='description'>
      In this course we look at each of the files that make up the WordPress theme template hierarchy.  This collection of files let you edit or customize any page on a WordPress site.  This course is useful for WordPress Developers building sites from scratch as well as those looking to just customize existing themes.
    </p>

      <p class='current-step hidden'>
        <svg class="video-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9c0,5,4,9,9,9s9-4,9-9C20,6,16,2,11,2z M15.2,12.1l-5.5,3.6c-1,0.6-1.8,0.2-1.8-1V7.3c0-1.2,0.8-1.6,1.8-1l5.5,3.6C16.2,10.5,16.2,11.5,15.2,12.1z" />

</svg>
        <svg class="quiz-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S16,2,11,2z M16,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C18,12.1,17.1,13,16,13z M16,10c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C17,10.4,16.6,10,16,10z M11,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C13,12.1,12.1,13,11,13z M11,10c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C12,10.4,11.6,10,11,10z M6,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C8,12.1,7.1,13,6,13z" />

</svg>
        <svg class="code-challenge-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9c0,5,4,9,9,9s9-4,9-9C20,6,16,2,11,2z M13.8,14.7c-0.4,0.4-1.1,0.4-1.5,0c-0.4-0.4-0.4-1.1,0-1.5l2.2-2.2l-2.2-2.2c-0.4-0.4-0.4-1.1,0-1.5c0.4-0.4,1.1-0.4,1.5,0l2.9,3c0.4,0.4,0.4,1.1,0,1.5L13.8,14.7z M9.7,14.7c-0.4,0.4-1.1,0.4-1.5,0l-2.9-3c-0.4-0.4-0.4-1.1,0-1.5l2.9-3c0.4-0.4,1.1-0.4,1.5,0c0.4,0.4,0.4,1.1,0,1.5L7.5,11l2.2,2.2C10.1,13.6,10.1,14.3,9.7,14.7z" />

</svg>
      </p>

      <div class='complete-status hidden'>
        <svg class="complete-icon" preserveAspectRatio="xMinYMin meet" viewBox="140 0 140 120">
  <path d="M197.3,120l-52.8-52c-6-6-6-17,0-23c7-6,16.9-6,23.9,0l26.9,27l54.8-66c6-7,16-8,23.9-2c7,6,8,16,2,23
    L197.3,120z" />

</svg>
        <span class='complete-title'></span>
      </div>
</a>
  <ul class="tags">
    <li class="topic-wordpress topic topic"><a data-filter-list-val="topic:wordpress" href="#"><span>WordPress</span></a></li><li class="difficulty"><span>Beginner</span></li>
    <li class="truncated-tags"><span></span><ul></ul></li>
  </ul>

  <ul class='actions hidden'>
    <li class='resume'>
      <a class="button button-primary" href="#">Start</a>
    </li>
    <li class='bookmarkable' data-featurette="bookmarkable">
      <a class="bookmark" data-method="POST" href="#" rel="nofollow">
        <svg class="star-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 16 16"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#star-icon"></use></svg>
        <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>      <a class="unbookmark" data-method="DELETE" href="#" rel="nofollow">
        <svg class="star-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 16 16"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#star-icon"></use></svg>
        <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>    </li>
      <li class="watch-trailer">

        <div class="tooltip tooltip-top tooltip-light" data-featurette="course-trailers-tooltip" data-dismisser-selector="#course_662_trailer_trigger">
          <strong>Watch trailers</strong>
          <p>When browsing courses you now can quickly view trailers to get a quick look into what this course covers.</p>
        </div>

        <a class=" async-modal-trigger" data-featurette="async-modal-trigger" data-src="/library/the-wordpress-template-hierarchy/trailer" data-target="course_trailer_async_modal" href="#" id="course_662_trailer_trigger">
          <svg class="play-icon" data-featurette="async-icon" data-loading-icon="#loading_1d55" data-target="#course_662_trailer_trigger" preserveAspectRatio="xMinYMin meet" viewBox="0 0 11 12">
<path d="M10.5,5.1l-9-5C1.3,0,1.2,0,1,0C0.8,0,0.6,0,0.5,0.1C0.2,0.3,0,0.6,0,1v10c0,0.4,0.2,0.7,0.5,0.9C0.6,12,0.8,12,1,12
  c0.2,0,0.3,0,0.5-0.1l9-5C10.8,6.7,11,6.3,11,6C11,5.6,10.8,5.3,10.5,5.1z" />

</svg><svg class="loading-icon" id="loading_1d55" preserveAspectRatio="xMinYMin meet" style="display:none; " viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>      </li>
  </ul>

  <div class="bookmarkable-tarp">
  <div class="confirmation-tarp error">
    <h4>Uh-oh!</h4>
    <p>Something went wrong when trying to save your request.</p>
    <a href="#" class="button secondary" data-close>Close</a>
  </div>

  <div class="confirmation-tarp added">
    <h4>Bookmarked!</h4>
    <p>You can now access this anytime from Home.</p>
    <a href="#" class="view-all">
      <span>View all Bookmarks</span> <svg class="right-arrow-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 12 12"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#right-arrow-icon"></use></svg>
    </a>
  </div>

  <div class="removed-wrapper">
    <div class="confirmation-tarp removed">
      <h4>Removed from Bookmarks</h4>
      <a href="#" class="button secondary undo" data-method="POST" rel='nofollow'>
        <span>Undo</span> <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
      </a>
    </div>
  </div>
</div>


</li>


<li class="card course topic-ruby home-card" data-activity="syllabus/35" data-featurette="library-card" data-location="home" id="Syllabus-35">

  <a class="title" href="#">
    <div class='progress'>
      <svg class="course-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#course-icon"></use></svg>

      <ul class='stages'>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
      </ul>

      <span class='estimate'>8 hours</span>
    </div>

    <strong>Course</strong>
    <h3>Build a Simple Ruby on Rails Application</h3>
    <p class='description'>
      This project will walk us through creating a social networking web application with features similar to Facebook. Ruby on Rails is a web application framework which makes it easy and quick to build dynamic web sites.
    </p>

      <p class='current-step hidden'>
        <svg class="video-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9c0,5,4,9,9,9s9-4,9-9C20,6,16,2,11,2z M15.2,12.1l-5.5,3.6c-1,0.6-1.8,0.2-1.8-1V7.3c0-1.2,0.8-1.6,1.8-1l5.5,3.6C16.2,10.5,16.2,11.5,15.2,12.1z" />

</svg>
        <svg class="quiz-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S16,2,11,2z M16,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C18,12.1,17.1,13,16,13z M16,10c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C17,10.4,16.6,10,16,10z M11,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C13,12.1,12.1,13,11,13z M11,10c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C12,10.4,11.6,10,11,10z M6,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C8,12.1,7.1,13,6,13z" />

</svg>
        <svg class="code-challenge-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9c0,5,4,9,9,9s9-4,9-9C20,6,16,2,11,2z M13.8,14.7c-0.4,0.4-1.1,0.4-1.5,0c-0.4-0.4-0.4-1.1,0-1.5l2.2-2.2l-2.2-2.2c-0.4-0.4-0.4-1.1,0-1.5c0.4-0.4,1.1-0.4,1.5,0l2.9,3c0.4,0.4,0.4,1.1,0,1.5L13.8,14.7z M9.7,14.7c-0.4,0.4-1.1,0.4-1.5,0l-2.9-3c-0.4-0.4-0.4-1.1,0-1.5l2.9-3c0.4-0.4,1.1-0.4,1.5,0c0.4,0.4,0.4,1.1,0,1.5L7.5,11l2.2,2.2C10.1,13.6,10.1,14.3,9.7,14.7z" />

</svg>
      </p>

      <div class='complete-status hidden'>
        <svg class="complete-icon" preserveAspectRatio="xMinYMin meet" viewBox="140 0 140 120">
  <path d="M197.3,120l-52.8-52c-6-6-6-17,0-23c7-6,16.9-6,23.9,0l26.9,27l54.8-66c6-7,16-8,23.9-2c7,6,8,16,2,23
    L197.3,120z" />

</svg>
        <span class='complete-title'></span>
      </div>
</a>
  <ul class="tags">
    <li class="topic-ruby topic topic"><a data-filter-list-val="topic:ruby" href="#"><span>Ruby</span></a></li><li class="difficulty"><span>Beginner</span></li>
    <li class="truncated-tags"><span></span><ul></ul></li>
  </ul>

  <ul class='actions hidden'>
    <li class='resume'>
      <a class="button button-primary" href="#">Start</a>
    </li>
    <li class='bookmarkable' data-featurette="bookmarkable">
      <a class="bookmark" data-method="POST" href="#" rel="nofollow">
        <svg class="star-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 16 16"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#star-icon"></use></svg>
        <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>      <a class="unbookmark" data-method="DELETE" href="#" rel="nofollow">
        <svg class="star-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 16 16"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#star-icon"></use></svg>
        <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>    </li>
      <li class="watch-trailer">

        <div class="tooltip tooltip-top tooltip-light" data-featurette="course-trailers-tooltip" data-dismisser-selector="#course_35_trailer_trigger">
          <strong>Watch trailers</strong>
          <p>When browsing courses you now can quickly view trailers to get a quick look into what this course covers.</p>
        </div>

        <a class=" async-modal-trigger" data-featurette="async-modal-trigger" data-src="/library/build-a-simple-ruby-on-rails-application/trailer" data-target="course_trailer_async_modal" href="#" id="course_35_trailer_trigger">
          <svg class="play-icon" data-featurette="async-icon" data-loading-icon="#loading_3922" data-target="#course_35_trailer_trigger" preserveAspectRatio="xMinYMin meet" viewBox="0 0 11 12">
<path d="M10.5,5.1l-9-5C1.3,0,1.2,0,1,0C0.8,0,0.6,0,0.5,0.1C0.2,0.3,0,0.6,0,1v10c0,0.4,0.2,0.7,0.5,0.9C0.6,12,0.8,12,1,12
  c0.2,0,0.3,0,0.5-0.1l9-5C10.8,6.7,11,6.3,11,6C11,5.6,10.8,5.3,10.5,5.1z" />

</svg><svg class="loading-icon" id="loading_3922" preserveAspectRatio="xMinYMin meet" style="display:none; " viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>      </li>
  </ul>

  <div class="bookmarkable-tarp">
  <div class="confirmation-tarp error">
    <h4>Uh-oh!</h4>
    <p>Something went wrong when trying to save your request.</p>
    <a href="#" class="button secondary" data-close>Close</a>
  </div>

  <div class="confirmation-tarp added">
    <h4>Bookmarked!</h4>
    <p>You can now access this anytime from Home.</p>
    <a href="#" class="view-all">
      <span>View all Bookmarks</span> <svg class="right-arrow-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 12 12"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#right-arrow-icon"></use></svg>
    </a>
  </div>

  <div class="removed-wrapper">
    <div class="confirmation-tarp removed">
      <h4>Removed from Bookmarks</h4>
      <a href="#" class="button secondary undo" data-method="POST" rel='nofollow'>
        <span>Undo</span> <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
      </a>
    </div>
  </div>
</div>


</li>


<li class="card course topic-javascript home-card" data-activity="syllabus/25" data-featurette="library-card" data-location="home" id="Syllabus-25">

  <a class="title" href="#">
    <div class='progress'>
      <svg class="course-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#course-icon"></use></svg>

      <ul class='stages'>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
      </ul>

      <span class='estimate'>114 min</span>
    </div>

    <strong>Course</strong>
    <h3>Introduction to Programming</h3>
    <p class='description'>
      Basic programming skills are essential for all web professionals, including designers. Many programming languages share a common set of concepts, which will be covered in this course.
    </p>

      <p class='current-step hidden'>
        <svg class="video-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9c0,5,4,9,9,9s9-4,9-9C20,6,16,2,11,2z M15.2,12.1l-5.5,3.6c-1,0.6-1.8,0.2-1.8-1V7.3c0-1.2,0.8-1.6,1.8-1l5.5,3.6C16.2,10.5,16.2,11.5,15.2,12.1z" />

</svg>
        <svg class="quiz-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S16,2,11,2z M16,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C18,12.1,17.1,13,16,13z M16,10c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C17,10.4,16.6,10,16,10z M11,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C13,12.1,12.1,13,11,13z M11,10c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C12,10.4,11.6,10,11,10z M6,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C8,12.1,7.1,13,6,13z" />

</svg>
        <svg class="code-challenge-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9c0,5,4,9,9,9s9-4,9-9C20,6,16,2,11,2z M13.8,14.7c-0.4,0.4-1.1,0.4-1.5,0c-0.4-0.4-0.4-1.1,0-1.5l2.2-2.2l-2.2-2.2c-0.4-0.4-0.4-1.1,0-1.5c0.4-0.4,1.1-0.4,1.5,0l2.9,3c0.4,0.4,0.4,1.1,0,1.5L13.8,14.7z M9.7,14.7c-0.4,0.4-1.1,0.4-1.5,0l-2.9-3c-0.4-0.4-0.4-1.1,0-1.5l2.9-3c0.4-0.4,1.1-0.4,1.5,0c0.4,0.4,0.4,1.1,0,1.5L7.5,11l2.2,2.2C10.1,13.6,10.1,14.3,9.7,14.7z" />

</svg>
      </p>

      <div class='complete-status hidden'>
        <svg class="complete-icon" preserveAspectRatio="xMinYMin meet" viewBox="140 0 140 120">
  <path d="M197.3,120l-52.8-52c-6-6-6-17,0-23c7-6,16.9-6,23.9,0l26.9,27l54.8-66c6-7,16-8,23.9-2c7,6,8,16,2,23
    L197.3,120z" />

</svg>
        <span class='complete-title'></span>
      </div>
</a>
  <ul class="tags">
    <li class="topic-javascript topic topic"><a data-filter-list-val="topic:javascript" href="#"><span>JavaScript</span></a></li><li class="difficulty"><span>Beginner</span></li>
    <li class="truncated-tags"><span></span><ul></ul></li>
  </ul>

  <ul class='actions hidden'>
    <li class='resume'>
      <a class="button button-primary" href="#">Start</a>
    </li>
    <li class='bookmarkable' data-featurette="bookmarkable">
      <a class="bookmark" data-method="POST" href="#" rel="nofollow">
        <svg class="star-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 16 16"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#star-icon"></use></svg>
        <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>      <a class="unbookmark" data-method="DELETE" href="#" rel="nofollow">
        <svg class="star-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 16 16"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#star-icon"></use></svg>
        <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>    </li>
  </ul>

  <div class="bookmarkable-tarp">
  <div class="confirmation-tarp error">
    <h4>Uh-oh!</h4>
    <p>Something went wrong when trying to save your request.</p>
    <a href="#" class="button secondary" data-close>Close</a>
  </div>

  <div class="confirmation-tarp added">
    <h4>Bookmarked!</h4>
    <p>You can now access this anytime from Home.</p>
    <a href="#" class="view-all">
      <span>View all Bookmarks</span> <svg class="right-arrow-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 12 12"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#right-arrow-icon"></use></svg>
    </a>
  </div>

  <div class="removed-wrapper">
    <div class="confirmation-tarp removed">
      <h4>Removed from Bookmarks</h4>
      <a href="#" class="button secondary undo" data-method="POST" rel='nofollow'>
        <span>Undo</span> <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />

  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
      </a>
    </div>
  </div>
</div>


</li>


<li class="card course topic-html home-card" data-activity="syllabus/18" data-featurette="library-card" data-location="home" id="Syllabus-18">

  <a class="title" href="#">
    <div class='progress'>
      <svg class="course-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#course-icon"></use></svg>

      <ul class='stages'>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
      </ul>

      <span class='estimate'>3 hours</span>
    </div>

    <strong>Course</strong>
    <h3>HTML</h3>
    <p class='description'>
      This HTML tutorial helps you master HTML. Mastering HTML and its many elements is critical for any type of web professional. HTML or "Hyper Text Markup Language" describes the basic structure and content of a web page.
    </p>

      <p class='current-step hidden'>
        <svg class="video-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9c0,5,4,9,9,9s9-4,9-9C20,6,16,2,11,2z M15.2,12.1l-5.5,3.6c-1,0.6-1.8,0.2-1.8-1V7.3c0-1.2,0.8-1.6,1.8-1l5.5,3.6C16.2,10.5,16.2,11.5,15.2,12.1z" />

</svg>
        <svg class="quiz-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S16,2,11,2z M16,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C18,12.1,17.1,13,16,13z M16,10c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C17,10.4,16.6,10,16,10z M11,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C13,12.1,12.1,13,11,13z M11,10c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C12,10.4,11.6,10,11,10z M6,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C8,12.1,7.1,13,6,13z" />

</svg>
        <svg class="code-challenge-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9c0,5,4,9,9,9s9-4,9-9C20,6,16,2,11,2z M13.8,14.7c-0.4,0.4-1.1,0.4-1.5,0c-0.4-0.4-0.4-1.1,0-1.5l2.2-2.2l-2.2-2.2c-0.4-0.4-0.4-1.1,0-1.5c0.4-0.4,1.1-0.4,1.5,0l2.9,3c0.4,0.4,0.4,1.1,0,1.5L13.8,14.7z M9.7,14.7c-0.4,0.4-1.1,0.4-1.5,0l-2.9-3c-0.4-0.4-0.4-1.1,0-1.5l2.9-3c0.4-0.4,1.1-0.4,1.5,0c0.4,0.4,0.4,1.1,0,1.5L7.5,11l2.2,2.2C10.1,13.6,10.1,14.3,9.7,14.7z" />

</svg>
      </p>

      <div class='complete-status hidden'>
        <svg class="complete-icon" preserveAspectRatio="xMinYMin meet" viewBox="140 0 140 120">
  <path d="M197.3,120l-52.8-52c-6-6-6-17,0-23c7-6,16.9-6,23.9,0l26.9,27l54.8-66c6-7,16-8,23.9-2c7,6,8,16,2,23
    L197.3,120z" />

</svg>
        <span class='complete-title'></span>
      </div>
</a>
  <ul class="tags">
    <li class="topic-html topic topic"><a data-filter-list-val="topic:html" href="#"><span>HTML</span></a></li><li class="difficulty"><span>Beginner</span></li>
    <li class="truncated-tags"><span></span><ul></ul></li>
  </ul>

  <ul class='actions hidden'>
    <li class='resume'>
      <a class="button button-primary" href="#">Start</a>
    </li>
    <li class='bookmarkable' data-featurette="bookmarkable">
      <a class="bookmark" data-method="POST" href="#" rel="nofollow">
        <svg class="star-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 16 16"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#star-icon"></use></svg>
        <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>      <a class="unbookmark" data-method="DELETE" href="#" rel="nofollow">
        <svg class="star-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 16 16"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#star-icon"></use></svg>
        <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>    </li>
  </ul>

  <div class="bookmarkable-tarp">
  <div class="confirmation-tarp error">
    <h4>Uh-oh!</h4>
    <p>Something went wrong when trying to save your request.</p>
    <a href="#" class="button secondary" data-close>Close</a>
  </div>

  <div class="confirmation-tarp added">
    <h4>Bookmarked!</h4>
    <p>You can now access this anytime from Home.</p>
    <a href="#" class="view-all">
      <span>View all Bookmarks</span> <svg class="right-arrow-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 12 12"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#right-arrow-icon"></use></svg>
    </a>
  </div>

  <div class="removed-wrapper">
    <div class="confirmation-tarp removed">
      <h4>Removed from Bookmarks</h4>
      <a href="#" class="button secondary undo" data-method="POST" rel='nofollow'>
        <span>Undo</span> <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
      </a>
    </div>
  </div>
</div>


</li>


<li class="card course topic-design home-card" data-activity="syllabus/112" data-featurette="library-card" data-location="home" id="Syllabus-112">

  <a class="title" href="#">
    <div class='progress'>
      <svg class="course-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#course-icon"></use></svg>

      <ul class='stages'>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
      </ul>

      <span class='estimate'>2 hours</span>
    </div>

    <strong>Course</strong>
    <h3>UX Basics</h3>
    <p class='description'>
      Before you can become a User Experience (UX) designer, you need to understand the importance of UX, the reason it exists, what the goal of the UX designer is and how they think.In this course, you’ll learn all about UX Design, what it is, what UX designers do, how UX designers think, what tools UX designers use, and how to move forward in the field of UX.
    </p>

      <p class='current-step hidden'>
        <svg class="video-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9c0,5,4,9,9,9s9-4,9-9C20,6,16,2,11,2z M15.2,12.1l-5.5,3.6c-1,0.6-1.8,0.2-1.8-1V7.3c0-1.2,0.8-1.6,1.8-1l5.5,3.6C16.2,10.5,16.2,11.5,15.2,12.1z" />

</svg>
        <svg class="quiz-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S16,2,11,2z M16,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C18,12.1,17.1,13,16,13z M16,10c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C17,10.4,16.6,10,16,10z M11,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C13,12.1,12.1,13,11,13z M11,10c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1C12,10.4,11.6,10,11,10z M6,13c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2s2,0.9,2,2C8,12.1,7.1,13,6,13z" />

</svg>
        <svg class="code-challenge-22-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 22 22">
  <path d="M11,22C4.9,22,0,17.1,0,11C0,4.9,4.9,0,11,0s11,4.9,11,11C22,17.1,17.1,22,11,22zM11,2c-5,0-9,4-9,9c0,5,4,9,9,9s9-4,9-9C20,6,16,2,11,2z M13.8,14.7c-0.4,0.4-1.1,0.4-1.5,0c-0.4-0.4-0.4-1.1,0-1.5l2.2-2.2l-2.2-2.2c-0.4-0.4-0.4-1.1,0-1.5c0.4-0.4,1.1-0.4,1.5,0l2.9,3c0.4,0.4,0.4,1.1,0,1.5L13.8,14.7z M9.7,14.7c-0.4,0.4-1.1,0.4-1.5,0l-2.9-3c-0.4-0.4-0.4-1.1,0-1.5l2.9-3c0.4-0.4,1.1-0.4,1.5,0c0.4,0.4,0.4,1.1,0,1.5L7.5,11l2.2,2.2C10.1,13.6,10.1,14.3,9.7,14.7z" />

</svg>
      </p>

      <div class='complete-status hidden'>
        <svg class="complete-icon" preserveAspectRatio="xMinYMin meet" viewBox="140 0 140 120">
  <path d="M197.3,120l-52.8-52c-6-6-6-17,0-23c7-6,16.9-6,23.9,0l26.9,27l54.8-66c6-7,16-8,23.9-2c7,6,8,16,2,23
    L197.3,120z" />

</svg>
        <span class='complete-title'></span>
      </div>
</a>
  <ul class="tags">
    <li class="topic-design topic topic"><a data-filter-list-val="topic:design" href="#"><span>Design</span></a></li><li class="difficulty"><span>Beginner</span></li>
    <li class="truncated-tags"><span></span><ul></ul></li>
  </ul>

  <ul class='actions hidden'>
    <li class='resume'>
      <a class="button button-primary" href="#">Start</a>
    </li>
    <li class='bookmarkable' data-featurette="bookmarkable">
      <a class="bookmark" data-method="POST" href="#" rel="nofollow">
        <svg class="star-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 16 16"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#star-icon"></use></svg>
        <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>      <a class="unbookmark" data-method="DELETE" href="#" rel="nofollow">
        <svg class="star-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 16 16"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#star-icon"></use></svg>
        <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>    </li>
      <li class="watch-trailer">

        <div class="tooltip tooltip-top tooltip-light" data-featurette="course-trailers-tooltip" data-dismisser-selector="#course_112_trailer_trigger">
          <strong>Watch trailers</strong>
          <p>When browsing courses you now can quickly view trailers to get a quick look into what this course covers.</p>
        </div>

        <a class=" async-modal-trigger" data-featurette="async-modal-trigger" data-src="/library/ux-basics/trailer" data-target="course_trailer_async_modal" href="#" id="course_112_trailer_trigger">
          <svg class="play-icon" data-featurette="async-icon" data-loading-icon="#loading_8a1e" data-target="#course_112_trailer_trigger" preserveAspectRatio="xMinYMin meet" viewBox="0 0 11 12">
<path d="M10.5,5.1l-9-5C1.3,0,1.2,0,1,0C0.8,0,0.6,0,0.5,0.1C0.2,0.3,0,0.6,0,1v10c0,0.4,0.2,0.7,0.5,0.9C0.6,12,0.8,12,1,12
  c0.2,0,0.3,0,0.5-0.1l9-5C10.8,6.7,11,6.3,11,6C11,5.6,10.8,5.3,10.5,5.1z" />

</svg><svg class="loading-icon" id="loading_8a1e" preserveAspectRatio="xMinYMin meet" style="display:none; " viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
</a>      </li>
  </ul>

  <div class="bookmarkable-tarp">
  <div class="confirmation-tarp error">
    <h4>Uh-oh!</h4>
    <p>Something went wrong when trying to save your request.</p>
    <a href="#" class="button secondary" data-close>Close</a>
  </div>

  <div class="confirmation-tarp added">
    <h4>Bookmarked!</h4>
    <p>You can now access this anytime from Home.</p>
    <a href="#" class="view-all">
      <span>View all Bookmarks</span> <svg class="right-arrow-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 12 12"><use xlink:href="assets/icons-91c15c7f0bde1fd321baa05087b71925.svg#right-arrow-icon"></use></svg>
    </a>
  </div>

  <div class="removed-wrapper">
    <div class="confirmation-tarp removed">
      <h4>Removed from Bookmarks</h4>
      <a href="#" class="button secondary undo" data-method="POST" rel='nofollow'>
        <span>Undo</span> <svg class="loading-icon" preserveAspectRatio="xMinYMin meet" viewBox="0 0 18 18">
  <path class="loading-circle" d="M9,4c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S6.24,4,9,4 M9,0C4.03,0,0,4.03,0,9s4.03,9,9,9s9-4.03,9-9S13.97,0,9,0L9,0z" />
  <path class="loading-quarter-circle" d="M16,11c-1.1,0-2-0.9-2-2c0-2.76-2.24-5-5-5C7.9,4,7,3.1,7,2s0.9-2,2-2c4.96,0,9,4.04,9,9C18,10.1,17.1,11,16,11z" />
</svg>
      </a>
    </div>
  </div>
</div>


</li>
    </ul>
  </div>


    </div>

    <div class="grid-100">
      <ul class="content-block-list">
        <li class="grid-50 tablet-grid-50">
          <a class="find-content" href="#">
            <strong>Browse Library</strong>
            <p>Find a course that best suits your interests.</p>
</a>        </li>
        <li class="grid-50 tablet-grid-50">
          <a class="find-content" href="#">
            <strong>Browse Tracks</strong>
            <p>Choose from guided paths that train you for a specific role.</p>
</a>        </li>
      </ul>
    </div>
    <div class="grid-100" data-markup-move-target></div>
  </div>

</div>

   

  

   <!-- yields content from within treehouse-tour paths. Find helper in application.helper -->