<!--index-->
            <div class="index">

                <div class="row">
                    <div class="container header_banner">
                        <div class="col-md-6 banner-data"> 
                            <h1>
                                LEARN WITH US
                            </h1>
                            <h2>Whether you are just starting out or are a tech industry pro, we are here to provide you with the tools to help you excel.</h2>
                        </div>
                        <div class="col-md-6 banner-data">
                            <div class="card">
                                <a id="show-video" class="title" href="#">
                                    <div class="progress">
                                        <i class="fa fa-book"></i>
                                        <i class="fa fa-circle-thin"></i>
                                        <i class="fa fa-circle-thin"></i>
                                        <i class="fa fa-circle-thin"></i>
                                        <span class="estimate">4 mins</span>
                                    </div>
                                    <strong>Course</strong>
                                    <h3>Getting started with gSchool</h3>
                                    <p class="description">In this course, we’ll introduce you to our learning style by taking you through a quick sample course.</p>
                                    <br />
                                    <br />
                                    <button type="button" class="btn btn-primary btn-lg pull-left">Link to open the video <i class="fa fa-arrow-right"></i></button>
                                </a>
                            </div>
                        </div>
                        <video class="video-js" preload="none" data-setup='{}'>
                            <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.mp4" type="video/mp4">
                            <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.webm" type="video/webm">
                        </video>
                    </div>
                </div>        
            </div>


            <!--desc-->
            <div id="learn-more" class="desc container">
                <div class="desc__introduces">
                    <h3>Tech education redesigned</h3>
                    <p>We've rethought the learning process and built a proven system to get you the skills and knowledge you need to accomplish your goals.</p>
                </div>



                <div class="desc__features">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-centered">
                            <div class="col-md-4">
                                <div class="features__photo">
                                	<%= image_tag asset_path('feature-bootstrap.png') %>
                                </div>
                                <h4>Get started</h4>
                                <p>We're here to help you get started. Whether you are looking for a new career, want to learn to code for fun, or want to keep your skills cutting edge for your job, we will help you start down the right path.</p>
                            </div>
                            <div class="col-md-4">
                                <div class="features__photo"><%= image_tag asset_path('feature-css.png') %></div>
                                <h4>Learn & build</h4>
                                <p>Learn by actually building something yourself! By watching our course videos and coding along in Workspaces, our browser-based code editor, you can see the results of your work in real-time.</p>
                            </div>
                            <div class="col-md-4">
                                <div class="features__photo"><%= image_tag asset_path('feature-css.png') %></div>
                                <h4>Share your work</h4>
                                <p>Take advantage of our robust community of students, alumni and teachers who can review your work, problem-solve and offer support.</p>
                            </div>
                        </div>
                    </div> 
                </div>




                <div class="desc__introduces">
                    <h3>Choose how you want to learn</h3>         

                    <div class="row">
                        <div class="col-md-8 col-md-push-2 text-center">
                            <ul class="tab-group">    
                                <li class="col-md-4 col-centered tab active"><a data-toggle="tab" href="#track">Track</a></li>
                                <li class="col-md-4 col-centered tab"><a data-toggle="tab" href="#project">Project</a></li>
                                <li class="col-md-4 col-centered tab"><a data-toggle="tab" href="#topic">Topic</a></li>
                            </ul>
                        </div>
                    </div>



                    <div class="tab-content">
                        <div id="track">   
                            <p>A Track is a curated collection of courses designed to give you the foundation you need to get a job.</p>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <a href="#">
                                            <div class="panel track">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                                                </span>
                                                Web Designer
                                                <i class="fa fa-arrow-right"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#">
                                            <div class="panel track">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                                                </span>
                                                Web Designer
                                                <i class="fa fa-arrow-right"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clear"></div>
                                    <br />
                                    <div class="col-md-6">
                                        <a href="#">
                                            <div class="panel track">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                                                </span>
                                                Web Designer
                                                <i class="fa fa-arrow-right"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#">
                                            <div class="panel track">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                                                </span>
                                                Web Designer
                                                <i class="fa fa-arrow-right"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clear"></div>
                                    <br />
                                    <div class="col-md-6 col-md-offset-3">
                                        <a href="#">
                                            <div class="panel track">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                                                </span>
                                                Web Designer
                                                <i class="fa fa-arrow-right"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="project" class="hidden-tab">   
                            <p>Learn by building something from scratch. What project will you start with?</p>

                            <div class="row">
                                <div class="col-xs-4">
                                    <img src="http://placehold.it/323X180px" />
                                    <br />
                                    <button type="button" class="btn btn-default">Build a simple website</button>
                                </div>
                                <div class="col-xs-4">
                                    <img src="http://placehold.it/323X180px" />
                                    <br />
                                    <button type="button" class="btn btn-default">Design an iOS game</button>
                                </div>
                                <div class="col-xs-4">
                                    <img src="http://placehold.it/323X180px" />
                                    <br />
                                    <button type="button" class="btn btn-default">Make a photo app</button>
                                </div>
                                <div class="clear"></div>
                                <br />
                                <div class="col-xs-4">
                                    <img src="http://placehold.it/323X180px" />
                                    <br />
                                    <button type="button" class="btn btn-default">Make a Flask Python app</button>
                                </div>
                                <div class="col-xs-4">
                                    <img src="http://placehold.it/323X180px" />
                                    <br />
                                    <button type="button" class="btn btn-default">Make a Flask Python app</button>
                                </div>
                                <div class="col-xs-4">
                                    <img src="http://placehold.it/323X180px" />
                                    <br />
                                    <button type="button" class="btn btn-default">Make a Flask Python app</button>
                                </div>
                            </div>
                        </div>


                        <div id="topic" class="hidden-tab">   
                            <p>Do you already have a particular topic in mind? Take one of our specialized courses in a range of skill levels.</p>
                            <div class="row">
                                <div class="col-xs-3 topic-item">
                                    <img src="http://placehold.it/220X180px" />
                                    <button type="button" class="btn btn-default">HTML</button>
                                </div>
                                <div class="col-xs-3 topic-item">
                                    <img src="http://placehold.it/220X180px" />
                                    <button type="button" class="btn btn-default">CSS</button>
                                </div>
                                <div class="col-xs-3 topic-item">
                                    <img src="http://placehold.it/220X180px" />
                                    <button type="button" class="btn btn-default">Design</button>
                                </div>
                                <div class="col-xs-3 topic-item">
                                    <img src="http://placehold.it/220X180px" />
                                    <button type="button" class="btn btn-default">JavaScript</button>
                                </div>
                                <div class="clear"></div>
                                <br />
                                <div class="col-xs-3 topic-item">
                                    <img src="http://placehold.it/220X180px" />
                                    <button type="button" class="btn btn-default">HTML</button>
                                </div>
                                <div class="col-xs-3 topic-item">
                                    <img src="http://placehold.it/220X180px" />
                                    <button type="button" class="btn btn-default">CSS</button>
                                </div>
                                <div class="col-xs-3 topic-item">
                                    <img src="http://placehold.it/220X180px" />
                                    <button type="button" class="btn btn-default">Design</button>
                                </div>
                                <div class="col-xs-3 topic-item">
                                    <img src="http://placehold.it/220X180px" />
                                    <button type="button" class="btn btn-default">JavaScript</button>
                                </div>
                            </div>
                        </div>

                    </div><!-- tab-content -->


                </div>
            </div>


            <article class="content-section has-bg">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h3>Get your group on board</h3>
                        <p>Hundreds of businesses, schools and community organizations use Treehouse for Groups to fuel their successful training programs and keep their workforce sharp. Our partners appreciate how we make technical education engaging and accessible for beginners and professionals alike.</p>
                        <div class="col-md-6 col-md-offset-3">
                            <div class="callout-card groups">
                                <img src="http://placehold.it/274x69" />
                            </div>
                            <a class="btn btn-primary" href="#">GET STARTED</a>
                        </div>
                    </div>
                </div>
            </article>




            <article class="content-section trusted">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h3>Obtain your dream job</h3>
                        <p>Trusted worldwide by companies, schools, and people like you. Over 144,000 students, ranging from beginner to professional, use Treehouse to develop and improve their skills.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="container testimonial">
                        <div class="mega-quote">
                            <blockquote> Now I can sit down in front of a computer and turn an idea into something tangible…something profitable. It's literally changed my life.</blockquote>
                            <cite>Joelle Steiniger</cite>
                            <a class="btn btn-inverse" href="#">View all stories</a>
                        </div>
                    </div>
                </div>


                <div class="row trust">
                    <div class="container partners">
                        <div class="panel">
                            <h3 class="trust-headline">Trusted worldwide by companies, schools and people like you</h3>
                            <img src="http://placehold.it/1010x80" />
                        </div>
                    </div>
                </div>
            </article>