<div class="index signup-form">
                <div class="row">
                    <div class="container header_banner">
                        <h1>gschool Signup Plans</h1>
                        <div class="visible-xs">
                            <br />
                            <br />
                        </div>
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 round-corners">
                            <a href="#" class="list-group-item active"></a>
                           
                            <div class="form-container">
                                <% @plans.each do |plan| %>
                                        <div class="plan">
                                          <div class="name">
                                           <h2>
                                            <%= plan.name %>
                                          </h2>
                                          </div>
                                          <div class="details">
                                            <div class="price">
                                              <%= number_to_currency plan.price, :precision => 0 %> per month
                                            </div>
                                            <div class="kisses"><%= plan.description %> per month</div>
                                            <div class="">
                                              <%= link_to "Signup", new_subscription_path(:plan_id => plan.id),:class => "btn btn-lg btn-primary" %>
                                            </div>
                                          </div>
                                        </div>
                                        <hr />
                                      <% end %>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                </div>        
            </div>